/* article p:first-child{
font-size: 140%;                  this apply for first element or tag contain
font-style: italic;
} */

/* 
article p :first-of-type{
    font-size: 140%;
    font-style: italic;
    }
     */

/*      
article p:last-of-type{
    font-size: 140%;
    font-style: italic;
    font-weight: bold;
    } */
    
    
/* article p:last-child{
    font-size: 140%;
    font-style: italic;
    } */
    
/* ul li:nth-child(odd)
{
  color:deeppink;
}     */

ul li:nth-child(even)
{
  color:deeppink;
}    

/* a:visited{
    color:violet;
} */

a:visited,
a:link{
    color:violet;
}
a:hover,
a:focus{
    color: turquoise;
}